.content {
  padding: 7.5rem 5.5rem;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap:4rem;
  max-width: 100%;

  &__1,
  &__2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: none;
    border-radius: 1.5rem;
    box-shadow: 0rem .25rem 1.5rem rgba(0, 0, 0, .15);
    padding: 5rem 3rem 5rem 10rem;
    /// APPLIES ON <=1000px = 100rem = 62.5em
    @media screen and (max-width:$bp-large) {
      flex-direction: column-reverse;
      max-width: 70rem;
      padding:5rem;
      text-align: center;
    }

    &-img {
      max-width: 100%;
    }
  }

  &__1 {
    gap:32rem;
    @media screen and (max-width:$bp-large) {
      gap:5rem;
      text-align: center;
    }
  }

  &__2 {
    gap:18rem;
    @media screen and (max-width:$bp-large) {
      flex-direction: column;
      gap:5rem;
      text-align: center;
    }
  }
  

  &__text {
    color: $color-secondary;
    margin-top: 2rem;
    line-height: 2.7rem;
  }
}