.footer {
  margin-top: -15rem;
  z-index: 1;
  position: relative;
  &__container {
    background-color: $color-primary;
    padding:16rem 10rem 5rem 10rem;
    @media screen and (max-width: $bp-small) {
      padding: 16rem 5rem 5rem 5rem;
    }
  }
  &__logo-img {
    filter: contrast(0%) brightness(300%);
    @media screen and (max-width: $bp-medium) {
      display: block;
      margin:auto;
      max-width: 100%;
    }
    @media screen and (max-width: $bp-small) {
      max-width: 25rem;
      margin:0;
    }
  }
  &__middle {
    display: flex;
    justify-content: first baseline;
    align-items:flex-start;
    gap:12rem;
    color:$color-white;
    @media screen and (max-width: $bp-medium) {
      flex-direction: column;
      margin-top: 5rem;
    }
  }
  &__contact {
    display:flex;
    max-width: 44rem;
    gap:2rem;
    justify-content: first baseline;
    align-items:first baseline;
    cursor: pointer;
    @media screen and (max-width:$bp-medium) {
      text-align: center;
      display: block;
      max-width: 100%;
    }
    @media screen and (max-width: $bp-small) {
      display: flex;
      justify-content:left;
      align-items: flex-start;
      text-align: left;
    }
    &-text{
      margin-bottom: 2rem;
      @media screen and (max-width:$bp-medium) {
        margin-bottom: 4rem;
      }
    }
    &-icon{
      font-size: 1.8rem;
      @media screen and (max-width:$bp-medium) {
        font-size: 2.5rem;
        margin-bottom: 1.5rem;
      }
      &:hover {
        color:$color-pink;
      }
    }
  }
  /// MENU
  &__menu {
    display:flex;
    gap:8rem;
    /// <=800px
    @media screen and (max-width:$bp-medium) {
      display:block;
      margin:auto;
    }
    @media screen and (max-width: $bp-small) {
      margin:0;
    }
    &-link {
      list-style: none;
      text-decoration: none;
      color:$color-white;
      cursor: pointer;
      display: block;
      margin-bottom: 1.5rem;
      &:hover {
        opacity:0.7;
        text-decoration: underline;
      }
    }
  }
  /// SOCIAL ICONS
  &__social {
    display:flex;
    gap:3.2rem;
    @media screen and (max-width:$bp-medium) {
      display: inline-block;
      margin:auto;
    }
    &-icon {
      font-size: 2.2rem;
      @media screen and (max-width:$bp-medium) {
        margin-right: 2rem;
      }
      cursor: pointer;
      &:hover {
        color:$color-pink;
      }
    }
  }
  /// COPYRIGHT
  &__copyright {
    color:$color-white;
    display: flex;
    justify-content: end;
    @media screen and (max-width:$bp-medium) {
      justify-content: center;
    }
  }
  
  .attribution { 
    color: $color-white;
    font-size: 1.2rem;
    text-align: center; 
    &__link {
      color: $color-pink;
    }
  }
  
}
